
<app-location-search-input (onFocus)="onFocus()" (onBlur)="onBlur()" (onSearch)="onSearch($event)"></app-location-search-input>
<ng-container *ngIf="apiResponse$ | async as response;">
        <ng-container *ngIf="showList && !response.error">
            <app-location-item-list [isLoading]="response.loading" [cities]="response.data">
            </app-location-item-list>
        </ng-container>
        <span *ngIf="response.error">
            {{ response.error }}
        </span>
</ng-container>
