.location-item-list {
    width: 500px;
    height: 350px;
    overflow: auto;
    border: 1px solid grey;

    ul {
        padding: 0;
        margin: 0;

        .location-item-container {
            border-bottom: 1px solid grey;
            padding: 10px 0;
            display: flex;

            &:hover {
                cursor: pointer;
                background: lightgrey;
            }
        }
    }

}

.loading-spinner {
    text-align: center;
}
