<div class="location-item-list"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
[scrollWindow]="false"
(scrolled)="scrolled()"
>
    <ng-container  *ngIf="!isLoading; else loading">
        <ul>
            <ng-container  *ngFor="let city of cities" >
                <div class="location-item-container" (click)="clickCity(city)">
                    <input 
                        type="checkbox" 
                        [(ngModel)]="city.isPreferred"
                        (ngModelChange)="checked(city)"
                        >
                    <app-location-item 
                        [name]="city.name" 
                        [country]="city.country"
                        [subcountry]="city.subcountry"
                        [searchInput]="searchInput"
                        >
                    </app-location-item>
                </div>
            </ng-container>
        </ul>
        <span *ngIf="cities.length === 0">No data found !</span>
    </ng-container>
</div>


<ng-template #loading>
    <div class="loading-spinner">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
    </div>
</ng-template>